<h1>Here are a list of the Books in your library</h1>

<form action="/books/search" method="POST">
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>


<p>
<% Book.all.each do |book|%>
    <%if @current_user.id == book.user_id%>
        <a href="/books/<%=book.id%>"><strong><%=book.title%></strong></a>
        <br>
        <%=book.description%><br><br>
    <%end%>
<%end%>

<button><a href="/books/new"> Click Here to Add Books </a></button>
<button><a href="/locations/new"> Click Here to Add a New Location </a></button>
<button><a href="/logout">Logout </a></button>
</p>


