<h1>Add a Book to Your Library Catalog</h1>

<form action="/books" method="post">
    <ul> 
        <li>
            <label for="title">Title</label>
            <input id="title" type="text" name="title"/>
        </li>
        <li>
            <label for="description">Description</label>
            <textarea id="description" type="text" name="description">
            </textarea>
        </li>
        <li> 
            <select name="location">
                <%Location.all.each do |location|%>
                    <%if @current_user.id == location.user_id%>
                        <option value="<%=location.name%>"><%=location.name%></option>
                    <%end%>
                <%end%>
            </select>
        </li>
    </ul>
    <input type="submit"/>
</form>


