
<h1>Title: <%=@book.title%> </h1>
<p> Description: <%=@book.description%> </p>
<a href="/books/<%=@book.id%>/edit"> edit </a>
<form action='/books/<%= @book.id%>' method="POST"> 
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" id="submit" value="delete"> 
</form>