<h1>Book Cataloger</h1>
<h2>Catalog your books so you know where to find them</h2>

<p>To view your catalog:</p>
<form action="/sessions" method=POST> 
    <p>
    <label for="email"> Email: </label>
    <input type="text" name="email" id="email">
    </p>

    <p>
    <label for="password"> Password: </label>
    <input type="password" name="password" id="password">
    </p>

    <input type="submit" />  
    <br>
    <button><a href="/signup">Don't have an account - Click Here to Signup</a></button>

</form>

