<h1>Add a Location</h1>

<form action="/locations" method="POST">
    <ul> 
        <li>
            <label for="name">Name</label>
            <input id="name" type="text" name="name"/>
        </li>
        <li>
            <label for="address">Address</label>
            <input id="address" type="text" name="address"/>
        </li>
        <li>
            <label for="city">City</label>
            <input id="city" type="text" name="city"/>
        </li>
        <li>
            <label for="state">State</label>
            <input id="state" type="text" name="state"/>
        </li>
        <li>
            <label for="zip_code">Zip Code</label>
            <input id="zip_code" type="text" name="zip_code"/>
        </li>
    </ul>
    <input type="submit"/>
</form>